<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="link" routerlink="user-profile">Search User<span class="sr-only">(current)</span></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarsupportedcontent">
        <ul class="navbar-nav mr-auto mt-4 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerlink="user-profile">SEARCH USER<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerlink="search-repo">SEARCH REPOSITORY</a>
            </li>

        </ul>
    </div>

</nav>